<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apple Store</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>

<div class="container">
   <div class="row">
       <div class="col-md-8 mx-auto rounded border p-4 m-4">
           <h2 class="text-center mb-5">New Product</h2>


           <form action="#" th:action="@{/products/save}"  th:object="${productDtl}" method="POST" enctype="multipart/form-data">


               <input type="hidden" th:field="*{id}" ><br>

               <label>Name:</label><br>
               <input class="form-control" th:field="*{name}" placeholder="Name" >



               <label class="col-sm-4 col-form-label">Brand</label>
               <input class="form-control" th:field="*{brand}" placeholder="Brand" >



               <label class="col-sm-4 col-form-label">Category</label> <br>

                   <select class="form-select" th:field="*{category}">
                       <option th:value="Other">Other</option>
                       <option th:value="Phones">Phones</option>
                       <option th:value="Computers">Computers</option>
                       <option th:value="Accessories">Accessories</option>
                       <option th:value="Printers">Printers</option>
                       <option th:value="Cameras">Cameras</option>
                   </select>

               <br>

               <label class="col-sm-4 col-form-label">Price</label>
                   <input class="form-control" type="number" th:field="${productDtl.price}" step="0.01" min="0">


               <br>
                                       <label class="col-sm-4 col-form-label">Description</label>
                                           <textarea class="form-control" th:field="${productDtl.description}"></textarea>

               <br>

                                   <div class="row">
                                       <div class="offset-sm-4 col-sm-4 d-grid">
                                           <button type="submit" class="btn btn-primary">Submit</button>
                                       </div>

                                       <div class="col-sm-4 d-grid">
                                           <a class="btn btn-outline-primary" href="/products" role="button">Cancel</a>
                                       </div>
                                   </div>
           </form>


       </div>
   </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
